[2020-09-05 16:55] sofguar opened #250 "Colocar campo código de cliente en el formulario de crear cliente"
En el formulario de crear un nuevo cliente falta colocar un campo donde se pueda especificar el código del cliente.

Para esta actividad el líder sera José Arturo y le enseñará como hizo para cumplir con este requerimiento a Cesar para poder a proceder a la entrega de conocimiento del mismo.

Cual quier pregunta técnica o duda pueden preguntarme a mí (David).

[2020-09-06 01:06] sofguar opened #251 "Problema con el filtro de búsqueda de las horas no cargables"
Ninguno de los filtros me arroja resultados

[2020-09-06 02:03] sofguar opened #252 "No deben de cargar horas a futuro en horas no cargables"
Se debe limitar las horas las cuales el usuario puede seleccionar para cargar las horas, no debe de cargar horas a futuro solo desde la hora presente para atrás.

[2020-09-06 02:45] sofguar opened #253 "Validar que las horas cargadas no se solapen entre conceptos cargados HORAS NO CARGABLES"
Actualmente se puede cargar horas no cargables por un concepto X entre un rango de horas ya tomadas por otro concepto, la idea es arrojar una alerta donde indique que no puedes especificar ese rango de fecha porque ya parte o todo el rango ya esta tomado por otro concepto.

[2020-09-06 02:48] sofguar opened #254 "Opción de eliminar hora cargada (Hora No Cargable) por error"
Debe de existir una opción donde el usuario pueda eliminar una hora cargada en el módulo horas no cargables.

[2020-09-06 02:53] sofguar opened #255 "Colocar en funcionamiento el filtro en la bandeja de entrada de Ingresos y Gastos"
Los filtros no funcionan, solo están maquetados hay que ponerlos a funcionar

[2020-09-06 11:40] sofguar opened #256 "Probar configuración provista por el proveedor de correo para el envío del mismo"
El proveedor de corre mando las configuraciones necesarias para enviar correos desde la aplicación, hay que probar y colocarlo en funcionamiento.

[2020-09-06 22:24] sergiofma opened #258 "Nuevo Campo en el Módulo de Facturación"
David, en el módulo de facturación debemos agregar un campo que se llame **Otros Gastos** que resta al ingresos total del proyecto y tiene que ver con las comisiones que terceros nos cobran y afectan el proyectos.

[2020-09-06 23:45] dmolina101 commented on #258
Cuando usted dice otro campo quiere decir tipo de concepto? es decir que lo agregue como los tipos de concepto **Gastos No Reembolsables**?

[2020-09-08 03:21] dmolina101 commented on #252
Ya los cambios los coloque en la rama principal y puedes hacer pull.

Que vamos a revisar en estos cambios?:

**1)** Que la **Fecha Desde** no sea superior o igual a la fecha con hora actual, es decir si la fecha actual es **07/09/2020 9:10 am**, la **Fecha Desde** debe tener como límite máximo para escoger **07/09/2020 8:30 am**, debido a que las horas para elegir son de intervalos de 30min y el

[2020-09-08 15:15] sofguar commented on #253
Ya los cambios para probar este requerimiento están listos.

**Que se tiene que probar?**

**1)** Cuando se registre una nueva **Hora No Cargable** valide que la fecha desde y hasta no este en un rango de fecha y hora usada por otra **Hora No Cargable** previamente cargada.

**2)** **1)** Cuando se este modificando una **Hora No Cargable** valide que la fecha desde y hasta no este en un rango de f

[2020-09-08 15:17] sofguar opened #261 "Colocar Fecha Desde y Fecha Hasta en el filtro de busqueda de las horas no cargables"
Como ya se restringen las horas desde y hasta para no ser empleadas en dos conceptos a la vez por usuario es necesario filtrar dichos conceptos o horas no cargables por fechas para que el usuario pueda corroborar que otra hora no cargable esta empleando dichas fechas.

[2020-09-08 16:24] sergiofma opened #265 "ERROR AL ASIGNAR PERSONAL Y HORAS AL PROYECTO"
Con mi usuraio no puedo asignar horas y personal a un proyecto donde soy socio y gerente

[2020-09-08 16:24] #265 closed, assigned to alfiosaglimbeni

[2020-09-08 16:40] sofguar opened #267 "Subir la cantidad de registros por filtro por lo menos 50 por página"
Se debe aumentar el número de registros mostrado por filtro, por lo menos 50 por página

[2020-09-08 16:57] sofguar commented on #267
Listo los cambios, se subió la paginación a 50 resultados por página en las bandejas de horas no cargables y proyectos creados.

Que probar?

**1)** Hay que verificar que en verdad muestren 50 resultados por página

[2020-09-09 01:52] alfiosaglimbeni opened #269 "Actualizar BDD en ambiente de calidad"
Se requiere que se **actualice los registros** de las tablas de la **BDD del CARENT en ambiente de calidad,** usando para estos los mismos **registros de las tablas de la BDD del CARENT en ambiente  de producción**.
**El objeto** de esta actividad **es mantener un "espejo" de los datos en Calidad**, para realizar las pruebas de Q&A con datos lo más fielmente posible.

[2020-09-09 16:00] sofguar opened #270 "Permitir a los Socios que puedan asignar personal a los proyectos y cargar horas"
El requerimiento surge debido a que existe algunos socios que no poseen directores ni gerentes.

[2020-09-09 16:20] sofguar opened #271 "Permitir eliminar horas cargables al usuario que las generó"
Actualmente no hay una opción que permita modificar o eliminar una hora cargable si se equivocó el usuario, como no es difícil cagar solo hay que habilitarle una opción de eliminar para que vuelva a cargar.

[2020-09-09 17:13] sofguar opened #272 "Especificar el gerente por división a la hora de crear el proyecto"
A medida a que se va seleccionando o indicando las divisiones que van a participar en el proyecto se debe de indicar a parte de las horas el gerente de esa división, el gerente puedes ser un director, gerente, gerente senior o supervisor.

[2020-09-09 18:00] sofguar opened #273 "Amarrar que solo los gerentes asignados por divisiones al crear el proyecto puedan asignar horas y participantes"
Para esta tarea se debe esperar culminar la **Issues #272** . Una vez que los gerentes asignados por division sean indicados a la hora de crear el proyecto se debe de amarran en la bandeja de proyecto de las **Horas Cargables** solo dichos gerentes puedan ver sus proyectos asignados y no lo de los demas y solo ellos pueden asignar horas y personal al proyecto.

[2020-09-10 23:50] alfiosaglimbeni commented on #269
El día de hoy se realizó esta actividad

[2020-09-10 23:50] #269 closed, assigned to alfiosaglimbeni

[2020-09-10 23:59] alfiosaglimbeni commented on #267
El día de hoy 10092020 se reviso y se verifico que se pueden visualizar 50 registro por página
por Q&A se puede cerrar está solicitud

[2020-09-11 00:26] alfiosaglimbeni commented on #252
### LISTO
**_PROBADA DE FORMA SATISFACTORIA Y ACORDE A LA EXIGENCIA_**
**1) Que la Fecha Desde no sea superior o igual a la fecha con hora actual,** es decir si la fecha actual es 07/09/2020 9:10 am, la Fecha Desde debe tener como límite máximo para escoger 07/09/2020 8:30 am, debido a que las horas para elegir son de intervalos de 30min y el intervalo de 9:00 am - 9:30 am aun no ha ocurrido.

###

[2020-09-11 00:29] sofguar commented on #252
perfecto, vamos a colocarla para hacerle merge con la rama de producción

[2020-09-11 00:44] serodriz commented on #271
Listos los cambios.

1- Al entrar en la ventana de horas cargables, en el cuadro de las horas debería estar habilitada la opción de eliminar a todos los usuarios

2- Al hacer clic para cargar horas este se debería bloquear hasta que se complete el proceso.

3- Al tratar de cargar una fecha futura, le debería mostrara un mensaje indicando: Elegir una fue valida.

[2020-09-11 01:47] sofguar commented on #261
Ya el requerimiento esta listo en su fase de desarrollo.

Que se tiene que probar?

**1)** Que el filtro funcione con un rango de **Fecha Desde - Hasta** y traiga resultados de existir.

**2)** Que si solo se indique la **Fecha Desde** solo haga un búsqueda exacta para esa fecha y hora

[2020-09-11 15:21] alfiosaglimbeni commented on #271
### ISSUE

**Actualmente no hay una opción que permita modificar o eliminar una hora cargable si se equivocó el usuario, como no es difícil cagar solo hay que habilitarle una opción de eliminar para que vuelva a cargar.**
**COMPROBADO CON OBSERVACIÓN PARA MEJORA** _a satisfacción, si ´permite elimina el registro o registros de las horas cargadas por el usuario_

**COMPROBADO Y APROBADO**
1- Al ent

[2020-09-11 16:32] alfiosaglimbeni commented on #261
### ISSUE
**Como ya se restringen las horas desde y hasta para no ser empleadas en dos conceptos a la vez por usuario es necesario filtrar dichos conceptos o horas no cargables por fechas para que el usuario pueda corroborar que otra hora no cargable esta empleando dichas fechas.**

**Que se tiene que probar?**

**Probado exitosamente**
_1) Que el filtro funcione con un rango de Fecha Desde - Hast

[2020-09-11 17:37] alfiosaglimbeni commented on #253
### ISSUE
**Actualmente se puede cargar horas no cargables por un concepto X entre un rango de horas ya tomadas por otro concepto, la idea es arrojar una alerta donde indique que no puedes especificar ese rango de fecha porque ya parte o todo el rango ya esta tomado por otro concepto.**

**QUE SE PROBÓ**

**PRUEBA NO SUPERADA**
_1) Cuando se registre una nueva Hora No Cargable valide que la fecha

[2020-09-11 17:41] alfiosaglimbeni commented on #250
### ISSUE
En el formulario de crear un nuevo cliente falta colocar un campo donde se pueda especificar el código del cliente.
Para esta actividad el líder sera José Arturo y le enseñará como hizo para cumplir con este requerimiento a Cesar para poder a proceder a la entrega de conocimiento del mismo.
Cual quier pregunta técnica o duda pueden preguntarme a mí (David).

### **PROBADO SATISFACTORIAME

[2020-09-11 18:21] sofguar opened #276 "Actualizar código fuente del formulario de Crear Nuevo Usuario"
Se requiere actualizar código fuente del formulario de crear un nuevo usuario empleado bootstrap-vue; se debe de guiar por el formulario de crear proyecto el cual ya ha sido migrado bajo esa metodología.

[2020-09-12 00:03] serodriz commented on #271
Corrección del mensaje que indicaba por el sugerido por alfio

[2020-09-12 02:07] sofguar commented on #253
Listo, se corrigió el problema del punto 1, por favor revisar

[2020-09-12 20:06] sofguar commented on #251
Ya se verificaron en desarrollo los filtros y no presentaron ningún error, quizás ya se había resuelto en otro issues.

Probar los filtros en calidad, se espera que puedas filtrar resultados de existir y probar que funcionen como deben de funcionar.

[2020-09-13 01:54] alfiosaglimbeni commented on #253
Ahora si pasó la prueba no permite solapar horas no cargables

[2020-09-13 20:37] serodriz commented on #270
Comprobar con un usuario socio pueda llevar a cabo la asignación del personal

[2020-09-14 12:15] sofguar commented on #254
Ya el requerimiento esta listo, para probar solo debes hacer lo siguiente:

1) La opción de eliminar se encuentra en la ventana moda donde se edita la hora no cargable, entonces para proceder a eliminar debes de ejecutar la acción de modificar (Darle click a la tuerca); la opción esta al final junto al botón de modificar.

2) Verificar que la acción eliminar cumpla su función el cual es que en la

[2020-09-14 14:28] sofguar commented on #276
Bueno ya revise los cambios y si como tu lo indicabas te faltan algunas cosas que cambiar; la idea es cambiar todas las etiquetas del **nuevoUsuario.blade.php** a como esta el **nuevoProyecto.blade.php**, si te fijas por ejemplo en el blade del nuevo usuario después de la linea 21 en el código `<menu-principal v-cloak></menu-principal>` hay una linea con el código `<div class="row align-items-cent

[2020-09-14 18:50] djcesar28 commented on #276
perfecto

[2020-09-16 14:43] sofguar commented on #276
Buenos Cesar, efectivamente hay un error como me indicaste, la pantalla te sale en blanco y te explicare el ¿por que?. EL código actual del formulario **"Nuevo Usuario"** esta realizado con VueJS y Bootstrap pero de manera separada, es decir **VueJS** estaría en el **js** y **Bootstrap** en el **blade**. Con la migración se intenta integrarlo los dos con **[Bootstrap-vue](https://bootstrap-vue.org

[2020-09-18 02:16] sofguar commented on #271
Se cierra porque ya esta en la rama de producción

[2020-09-18 02:16] #271 closed, assigned to nobody

[2020-09-18 02:17] sofguar commented on #267
se cierra porque ya esta en la rama de producción

[2020-09-18 02:17] #267 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:17] sofguar commented on #261
Se cierra porque ya esta en la rama de producción

[2020-09-18 02:17] #261 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:18] sofguar commented on #253
Se cierra porque esta en la rama de producción

[2020-09-18 02:18] #253 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:18] sofguar commented on #252
Se cierra porque esta en la rama de producción

[2020-09-18 02:18] #252 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:19] sofguar commented on #251
Se cierra porque esta en la rama de producción

[2020-09-18 02:19] #251 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:19] sofguar commented on #250
Se cierra porque esta en la rama de producción

[2020-09-18 02:19] #250 closed, assigned to nobody

[2020-09-18 02:22] sofguar commented on #254
Se cierra porque esta en la rama de producción

[2020-09-18 02:22] #254 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-18 02:28] sofguar commented on #270
Se cierra porque esta en la rama de producción

[2020-09-18 02:28] #270 closed, assigned to nobody

[2020-09-18 12:37] sofguar commented on #265
Ya se solvento con el issues #270

[2020-09-18 14:51] sofguar commented on #276
Bueno @djcesar28 con respecto al error en el combo de tipo de documento

![1](https://user-images.githubusercontent.com/55295214/93607638-985f9400-f997-11ea-8209-22e1302963e8.jpg)

Como ya sabes esta dando como opciones **null** y te voy a explicar el ¿por qué?. Como te había mencionado antes muy seguramente la estructura del **js** puede cambiar porque ya el **VueJS** esta 100% ligado al **blade*

[2020-09-19 02:46] sofguar commented on #272
Ya el requerimiento esta desarrollado, para probar es necesario hacer lo siguiente:

1) Hacer un cambio en la Base de Datos; hay que agregar un campo llamado **id_gerente** con el tipo de dato **INT** sin longitud de valores en la tabla **tbl_proyecto_divisiones**.

![imagen](https://user-images.githubusercontent.com/55295214/93657360-3dae5280-fa00-11ea-9858-8cca6311656c.png)

Como vistes en la im

[2020-09-19 12:31] sofguar commented on #256
Muy buenos días Alfio, para configurar el envío de correo debemos editar el archivo que está en la raíz del proyecto encada ambiente tanto en calidad y producción. La parte que vas a editar es la siguiente que está sombreada:

![imagen](https://user-images.githubusercontent.com/55295214/93667203-fe105680-fa51-11ea-8ac5-c43535e8cea3.png)

Como me pasaste por correo vas a reemplazar los valores y qu

[2020-09-21 11:05] sofguar opened #294 "Error a la hora de aprobar las horas no cargables por parte de los jefes"
Ocurre un error cuando el jefe encargado trata de modificar una hora no cargable de su empleado, le indica el error que la FECHA DESDE ya ha sido utilizada

[2020-09-21 12:10] sofguar commented on #294
Ya el requerimiento esta listo, se modificó el query que modificaba las horas no cargables.

Casos para probar:

1) Modificar una hora no cargable con un usuario que necesite aprobación
2) Modificar una hora no cargable con un perfil de jefe ya sea aprobandosela a el mismo o a uno de sus empleados.

[2020-09-21 12:17] sofguar opened #296 "Actualizar el formulario de modificar proyecto"
Se requiere migrar y agregar los nuevos campos que se implementaron en el formulario de crear proyecto al formulario de modificar proyecto.

[2020-09-21 17:25] sofguar commented on #294
Ya esta en rama de producción y fue probada

[2020-09-21 17:25] #294 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-22 17:45] sofguar commented on #272
Ya los cambios están en producción

[2020-09-22 17:45] #272 closed, assigned to alfiosaglimbeni, dmolina101

[2020-09-22 17:47] sofguar commented on #273
Listo @serodriz  ya puedes empezar con esta tarea ya que la issues por la cual prelaba esta lista

[2020-09-24 21:39] serodriz commented on #273
Listo los cambios de amarrar a los gerentes y el socio asignados al crear el proyecto.

Que probar?

1- Con un usuario que sea socio y gerente encargado de proyectos al acceder al menú asig.Personal/HorasCargadas debería mostrase la siguiente ventana
![image](https://user-images.githubusercontent.com/59027265/94200485-7cbd2780-fe88-11ea-8c41-1c246a48e31e.png)

2- Con un usuario que sea gerente de

[2020-09-24 22:14] sofguar commented on #273
Perfecto, voy a proceder a subir los cambios a la rama de Calidad para que @alfiosaglimbeni pueda probarlos

[2020-09-25 15:23] sofguar opened #303 "Validar que no cambie el tipo de moneda en el proyecto si ya existe una facturación del mismo"
Si el proyecto ya posee facturaciones, no debe de poderse cambiar el tipo de moneda del proyecto para evitar conflictos.

¿Qué opinas sobre esta validación @sergiofma ?

[2020-09-25 16:50] sergiofma commented on #303
No

El vie., 25 de septiembre de 2020 11:23 a. m., Sofguar <
notifications@github.com> escribió:

[2020-09-25 22:07] sofguar commented on #296
El requerimiento esta listo, para probar se requiere:

1) Crea un nuevo proyecto y luego trata de editarlo; prueba editando todos los campos.
2) Trata de editar un proyecto que ya ha sido creado con anterioridad, quizás no tengan gerentes por división, recuerda que este cambio fue posterior.

[2020-09-26 19:10] alfiosaglimbeni commented on #296
### PRUEBAS REALIZADAS
### 1) Crea un nuevo proyecto y luego trata de editarlo; prueba editando todos los campos.
### Datos usados:
Para esta prueba se uso el usuario 0001, se creo un proyecto usando el cliente ADMINISTRADORA CCCT, el proyecto se denominó "auditoría de vulnerabilidad" el socio es SAMUEL ALEJANDRO MARQUEZ TOVAR y el gerente es GUSTAVO ADOLFO PUCHI MEDINA la moneda usada es US$ y el

[2020-09-26 19:39] alfiosaglimbeni commented on #296
### SEGUNDA PRUEBA DEL PUNTO 2
**2) Trata de editar un proyecto que ya ha sido creado con anterioridad, quizás no tengan gerentes por división, recuerda que este cambio fue posterior.**
**_DATOS USADOS:_**
**AUDITORIA A LOS ESTADOS FINANCIEROS AL 30 DE JUNIO DE 2020 horas contratadas 2460, fecha de contratación 01/07/2020, cliente BANCO AGRICOLA DE VENEZUELA socio NELSON JOSE MARCANO gerente YESEN

[2020-09-26 20:14] alfiosaglimbeni commented on #273
### PRUEBA REALIZADA:
**USUARIO** 11265 GUSTAVO PUCHI GERENTE
**CLIENTE**: BANCO ACTIVO BANCO UNIVERSAL
**PROYECTO** PENTESTING

- Se seleccionó el comando Asig. Personal / Horas Cargables. del menú PROYECTO
- Se visualizó un listado de proyectos asignados a la División Auditoría TI y al Gerente Gustavo Puchi.
- Se hizo clic en el icono de Asignar del proyecto indicado anteriormente.
- Se asigno l

[2020-09-27 00:30] sofguar commented on #296
Perfecto, procedo a unir las ramas de calidad y producción para estos cambios

[2020-09-27 00:30] #296 closed, assigned to nobody

[2020-09-27 00:30] sofguar commented on #273
Perfecto, se procede a unir este cambio a la rama de producción

[2020-09-27 00:30] #273 closed, assigned to nobody

[2020-09-27 17:29] sofguar opened #307 "Enviar una notificación de correo al usuario quien se le a pruebe sus horas no cargables"
Hay que enviar un correo una vez cambie de estatus al usuario que cargo sus horas no cargables ya sea por aprobación o no por su supervisor.

Para empezar esta tarea se necesita probar las configuraciones del correo previstas en el issues #256

[2020-09-28 18:50] sofguar commented on #255
Requerimiento listo, ya esta unido a la rama de Calidad para sus pruebas.

**¿Qué probar?**

1) Probar que cada uno de los filtros de búsqueda funcionen así como el botón de limpiar filtro

[2020-09-29 12:28] sofguar opened #311 "Mejorar la opción de asignar permisos de los menus sobre los usuarios"
Actualmente la pantalla para asignar permisos a los usuarios está así:

![imagen](https://user-images.githubusercontent.com/55295214/94555524-b2b43000-0229-11eb-9ed9-039288df95d3.png)

El problema que veo en esta pantalla es que no se ajusta al 100% a la filosofía de como actualmente el sistema por debajo en realidad asigna los permisos a los usuario;.

Te mostraré como está creada la base de dato

[2020-09-30 10:28] sofguar opened #312 "Colocar el formulario de registrar nueva factura en una ventana modal"
Hay que mover el formulario donde se registran las nuevas facturas al proyecto a una ventana modal para hacerlo mas ergonómico y así darle mucha más visibilidad a las facturas ya cargadas.

Pantalla actual:
![imagen](https://user-images.githubusercontent.com/55295214/94674211-d76ddd80-02e5-11eb-9bf5-5d4d670f66f0.png)

[2020-09-30 16:28] sofguar commented on #312
El requerimiento esta listo.

**¿Qué probar?**

**1)** Verificar que el formulario que se muestra en la imagen en el planteamiento del problema se muestre e un popup o un ventana modal.

[2020-10-01 01:41] sofguar opened #314 "Colocar un campo de horas y montos adicionales en el formulario de editar proyecto"
Hay que colocar un campo donde se especifica las horas adicionales dentro del formulario de editar proyecto.

[2020-10-01 01:45] sofguar opened #315 "Dar la posibilidad en las horas cargables de cargas las horas en franciones de media hora"
Hay que dar la posibilidad en el formulario de las horas cargables, de cargas fracciones de media hora, actualemente solo se puede hacer con número enteros, ahora se requiere hacerse como las horas no cargables donde se pueden elegir fracciones de media hora.

[2020-10-02 21:28] serodriz commented on #315
Listo los cambios de amarrar a los gerentes y el socio asignados al crear el proyecto.

Nota: hay que modificar el campo de la tabla tbl_horas_cargables

Que probar?

1- que el input de horas trabajas se ve como se aprecia en la imagen y el input horas asignadas se muestre como HH:MM

![image](https://user-images.githubusercontent.com/59027265/94970516-d1891f80-04d2-11eb-8101-dca73523dff0.png)

2-

[2020-10-03 16:30] sofguar opened #317 "Modificación del formulario Crear Cliente y Modificar Cliente"
Se requiere modificar la manera en que se registra la dirección de los nuevos clientes asi como en su modificación debido a que actualmente solo se permite ingresar direcciones nacionales y hay casos en donde se puede agregar o registrar un cliente internacional.

**1)** Solo re requerirá dos campos, uno donde se indique el país a través de un combo y un campo de textarea para que indique todo lo

[2020-10-03 18:54] sofguar opened #318 "Actualización en la Base de Datos"
Se requiere realizar en calidad y en producción después de sus pruebas las siguientes modificaciones en la base de datos:

**1)** En la tabla **logs_auditoria** cambiar el tipo de datos del campo **accion** de **varchar** a **text** debido aque se queda corto en algunas acciones y debemos registrar todo lo que se haga en la base de datos.

[2020-10-03 20:05] alfiosaglimbeni commented on #318
Este cambio lo realice el dia de hoy 03/10/2020 a las 1605 en el ambiente de calidad exclusivamente. Quedando pendiente este control de cambio para PRODUCCION

[2020-10-05 13:26] serodriz commented on #315
Aplicar la siguiente  sentencia en el phpmyadmin en la tabla tbl_horas_cargables

UPDATE tbl_horas_cargables SET horas_trabajadas = CONCAT('0', horas_trabajadas, ':00');

![image](https://user-images.githubusercontent.com/59027265/95084747-500cd980-06ec-11eb-8d9c-82c76c67462b.png)

y convertirá todos los datos a

![image](https://user-images.githubusercontent.com/59027265/95084911-88141c80-06ec-11

[2020-10-06 01:07] sofguar commented on #315
Perfecto gracias José

[2020-10-07 01:17] sofguar commented on #258
Requerimiento culminado.

¿Qué probar?

1) Que la bandeja de entrada de ingresos/gastos
2) Que puedas asociar una factura y gasto al proyecto
3) Que se pueda eliminar una factura o gasto del proyecto
4) Que se pueda modificar los datos de una factura o gasto cargados al proyecto. El nº de factura no se puede cambiar, si se desea cambiar se debe anular

[2020-10-10 00:28] sofguar opened #321 "Actualización en la Base de Datos"
Se requiere cambiar el tipo de datos del campo **horas_trabajadas** de la tabla **tbl_horas_cargables**, el tipo de datos actual es **VARCHAR** de 5 y debe de quedar a tipo **TIME** sin longitud de datos u formato. El cambio se debe realizar tanto en el ambiente de CALIDAD como en PRODUCCIÓN, este último cuando los cambios del issues #315 este en dicha rama.

[2020-10-10 02:25] sofguar opened #322 "Reporte Horas Cargables"
Se requiere realizar un reporte que indique la cantidad total de horas cargadas a proyectos de un empleado, gerentes, supervisor, socio etc, y que muestre el nombre del proyecto, cliente, empleado, división.

[2020-10-10 20:18] alfiosaglimbeni commented on #321
**En el ambiente de calidad ya se realizó el cambio del tipo de datos
Queda realizarlo en el ambiente de producción**

![cambiodedatocalidad](https://user-images.githubusercontent.com/22016865/95664275-1d137d00-0b14-11eb-9c45-6f7991ef2843.png)

[2020-10-10 20:27] alfiosaglimbeni commented on #315
**Se realizaron dos pruebaq de carga de hora fraccionada en Calidad ambas fueron satisfactorias**
![image](https://user-images.githubusercontent.com/22016865/95664387-60222000-0b15-11eb-9721-585657763dbf.png)

[2020-10-11 21:12] serodriz commented on #317
Listo los cambios de amarrar a los gerentes y el socio asignados al crear el proyecto.

hacer antes:

1- modificar la tabla tbl_cliente
   1.1- Eliminar los campos, id_parroquia, ciudad_fiscal, avenida_calle_fiscal, edificio_quinta_fiscal, piso_fiscal,numero_fiscal
   1.2- Agregar el campo id_pais (Tipo de dato: "int") agregar despues de razon social
   1.3- Agregar el campo direccion (Tipo de dat

[2020-10-12 23:25] sofguar commented on #315
@alfiosaglimbeni despues de ejecutar la consulta que indico @serodriz la cual es:

`UPDATE tbl_horas_cargables SET horas_trabajadas = CONCAT('0', horas_trabajadas, ':00');`

Debes cambiar el tipo de datos del campo **horas_trabajadas** de **VARCHAR** a **TIME**

[2020-10-13 18:37] serodriz commented on #317
entrar en los disparadores de clientes y:

1- tbl_cliente_AI  y colocarlo siguiente en definicion

INSERT INTO logs.tbl_cliente(codigo, id_usuario_socio_nuevo, rif_nuevo, nit_nuevo, razon_social_nuevo, id_pais_nuevo, direccion_nuevo, telefono_fiscal_nuevo, pagina_web_nuevo, email_fiscal_nuevo, id_estatus_nuevo) VALUES (NEW.codigo, NEW.id_usuario_socio,  NEW.rif, NEW.nit, NEW.razon_social, NEW.id_p

[2020-10-13 21:47] alfiosaglimbeni commented on #317
Referente al cambio que se debe realizar en la BDD fue realizado exitosamente (si bien hubo varios detalles que se tuvieron que ordenar).

con referencia a
**1- Comprobar el select de paises y el text de direccion el cual no permite guardar hasta que tenga mas de 10 caracteres y se debe ver asi.**
Se realizo una carga de un cliente nuevo y permitió el registro del cliente con una dirección inferio

[2020-10-13 23:06] alfiosaglimbeni commented on #312
**Se ingresó al módulo de facturación se muestra la siguiente ventana**

![image](https://user-images.githubusercontent.com/22016865/95925043-d5e0f280-0d86-11eb-896e-21334fd07bbe.png)

**se hizo clic en el botón "Agreagar Factura" y apareció la siguiente ventana emergente**

![image](https://user-images.githubusercontent.com/22016865/95925165-1b052480-0d87-11eb-8e48-581856b62f44.png)

### Se ingre

[2020-10-13 23:16] serodriz commented on #317
1- modificar la tabla tbl_cliente
1.1- Eliminar los campos, id_parroquia, ciudad_fiscal, avenida_calle_fiscal, edificio_quinta_fiscal, piso_fiscal,numero_fiscal
1.2- Agregar el campo id_pais (Tipo de dato: "int") agregar despues de razon social
1.3- Agregar el campo direccion (Tipo de dato: "text") agregar despues de pais

2-  modificar la tabla tbl_cliente del logs
2.1- Eliminar los campos, id_pa

[2020-10-18 14:37] sofguar commented on #322
El día de hoy se modificó la tabla **tbl_menu** y se le agregó un campo llamado **visible** de tipo **booleano** para indicar al sistema que aunque el usuario pueda tener ese menú asociado no se muestre en la barra superior del menú principal. ¿Cuál es el motivo? supongamos que tenemos un menú llamado **Reportes** y que el sistema puede tener **N** reportes, gráficamente es imposible colocar dentr

[2020-10-20 00:46] #321 closed, assigned to nobody

[2020-10-20 00:46] #318 closed, assigned to nobody

[2020-10-20 00:48] #317 closed, assigned to nobody

[2020-10-20 00:51] #312 closed, assigned to nobody

[2020-10-20 00:51] #315 closed, assigned to nobody

[2020-10-20 00:52] #258 closed, assigned to nobody

[2020-10-20 00:54] #255 closed, assigned to nobody

[2020-10-23 00:38] alfiosaglimbeni commented on #256
**CREDENCIALES USADAS**

MAIL_USERNAME
soporte.carent@crowe.com.ve
 MAIL_PASSWORD
C@r3nt*

**CAMBIO REALIZADO EN EL ARCHIVO .ENV**

MAIL_DRIVER=smtp
MAIL_HOST=mail.crowe.com.ve
MAIL_PORT=587
MAIL_USERNAME=soporte.carent@crowe.com.ve
MAIL_PASSWORD=C@r3nt*
MAIL_ENCRYPTION=tls

**IMAGEN DEL ERROR GENERADO**

![image](https://user-images.githubusercontent.com/22016865/96943480-47672200-14a6-11eb-97d9-

[2020-10-23 00:47] sofguar commented on #256
Ok prueba con esta configuración en el **.env**, es la que se usa para probar con un servidor de correo fake, si funciona tienes que revisar que parámetro esta mal con los de Crowe.

[code]

[2020-10-24 03:29] serodriz commented on #311
Listo los cambios de mejora de la asignación de menus.

hacer antes:
1- Agregar 4 nuevos campos en la tabla tbl_menus
1.1- Campos a agregar despues de orden C R U D todos tipo boolean
1.2- Asignarles los valores correspondiste a cada uno de los datos ya registrado como se muestra a continuación

![image](https://user-images.githubusercontent.com/59027265/97096974-220f1b00-1642-11eb-9eb5-afb09d7233

[2020-10-24 18:03] sofguar commented on #322
Para crear el nuevo menú y asociarlo a los usuarios en este caso el 0001 debes de ejecutar los siguientes SQL en el phpmyadmin:

[code]
y luego

`INSERT INTO `tbl_menu_usuario` (`id`, `id_usuario`, `id_menu`, `C`, `R`, `U`, `D`) VALUES (385, 1, 18, 0, 1, 0, 0);`

[2020-10-25 00:36] sofguar commented on #311
Perfecto!

[2020-10-26 01:27] sofguar commented on #322
@alfiosaglimbeni  así deberia de quedar la tabla con los cambios del #311 y este issues #322
![imagen](https://user-images.githubusercontent.com/55295214/97125005-b9d73c80-1708-11eb-9bf6-717701d0bccd.png)

[2020-10-27 21:22] alfiosaglimbeni commented on #311
1- Agregar 4 nuevos campos en la tabla tbl_menus **listo**
1.1- Campos a agregar despues de orden C R U D todos tipo boolean **listo**
1.2- Asignarles los valores correspondiste a cada uno de los datos ya registrado como se muestra a continuación **listo**
### Ahora el issue 322

[2020-10-27 22:03] alfiosaglimbeni commented on #322
### este paso ###
INSERT INTO `tbl_menu` (`id`, `id_menu_padre`, `descripcion`, `url`, `orden`, `visible`,  `C`,  `R`, `U`, `D`, `id_estatus`) VALUES (17, 0, 'Reporte ', '/formReportes', 1, 1, 0, 0, 0, 0, 1), (18, 17, 'Reporte de las Horas Cargables', '', 1, 0, 0, 1, 0, 0, 1);
**listo**

### Y este otro  paso ###
INSERT INTO tbl_menu_usuario (id_usuario, id_menu, C, R, U, D) VALUES (1, 18, 0, 1, 0

[2020-10-28 11:37] sofguar commented on #322
El valor del campo **visible** al inicio debe de ser **1** para todos excepto para el menú con le id **18**

[2020-10-29 15:16] sofguar opened #338 "Indicar que empresa lleva un proyecto en específico (MPA y MPF)"
En el formulario de crear y editar proyecto se debe de incluir un campo donde se especifique para que empresa se esta trabajando ese proyecto si para MPA o MPF, esto permitirá dividir y sacar reportes por empresa por proyecto por cliente

[2020-10-29 16:09] sofguar commented on #338
Primero se debe crear una tabla llamada **tbl_empresa**, el escript para crearla es el siguiente:

[code]
Los insert de esa tabla tbl_empresa son:

[code]
 y luego ejecutar este script:

[code]
Se debe de crear un campo a la tabla **tbl_proyecto** donde se asocie el id de la empresa con el siguiente script:

[code]

Hay que asignarles a los proyectos ya creados una empresa por defecto, es por ello

[2020-10-29 19:11] sofguar commented on #338
Requerimiento listo, solo se debe de probar si se puede asociar una empresa tanto en el formulario de crear un nuevo proyecto como en el formulario de editar el proyecto.

[2020-10-30 23:02] djcesar28 commented on #256
Configuración Correo Electronico de Recuperación
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=no.responder.carent@gmail.com
MAIL_PASSWORD=**C@r3nt**
MAIL_ENCRYPTION=tls

[2020-11-02 20:46] sofguar commented on #322
@alfiosaglimbeni  ya esta listo este requerimiento, que se debe de probar?

1) Que los filtros en condición de analista, supervisor, gerente, socio, etc funcione y muestre lo que debe de mostrar, ejemplo, si es un socio debería de mostrar todo y si es un gerente debería de mostrar todas las horas de su división y de los cargos que este por debajo de el.

2) Exportar los resultados a excel

3) Que

[2020-11-03 00:12] serodriz opened #344 "Eliminación de clientes duplicados"
Se requiere que se elimine los clientes duplicados

[2020-11-03 02:33] serodriz commented on #344
Listo el problema de los clientes duplicados, los cuales no tenían código de cliente, corrección del formulario modificar clientes

Realizar las siguientes sentencias en la tabla tbl_clientes:

1-              DELETE FROM tbl_cliente WHERE codigo IS null;

2-              DELETE FROM tbl_cliente WHERE codigo = 1729;

3-              DELETE FROM tbl_cliente WHERE codigo = 2165;

[2020-11-03 15:48] alfiosaglimbeni commented on #344
Actividad realizada satisfactoriamente 03/11/2020 11:49 am

[2020-11-05 11:27] sofguar commented on #338
Requerimiento listo y ya esta en rama de producción

[2020-11-05 11:27] #338 closed, assigned to nobody

[2020-11-05 11:29] sofguar commented on #322
Ya se arreglo el problema de los filtros, está listo para pasar a producción

[2020-11-05 13:52] sofguar commented on #311
Requerimiento culminado, ya esta en la rama de producción y funcionando

[2020-11-05 13:52] #311 closed, assigned to nobody

[2020-11-05 15:06] sofguar opened #349 "Reporte Cantidad de clientes activos/inactivos por divisiones con códigos"
Se requiere realizar un reporte el cual muestre la cantidad de clientes filtrados por estatus, empresa (Crowe o mpf) y divisiones. Para sacar la empresa se debe cruzar la tabla tbl_proyecto, tbl_empresa y tbl_cliente, ya que el cliente esta asociado al proyetco y al proyecto se le indica la empresa quien lo ejecuta, tambien puedes obtener de alli las divisiones que estan involucradas; con respecto

[2020-11-05 17:45] sofguar commented on #256
Requerimiento funcionando en producción

[2020-11-05 17:45] #256 closed, assigned to alfiosaglimbeni, dmolina101

[2020-11-05 17:53] sofguar commented on #349
@serodriz por favor me pasas el query de inserción del nuevo menú

[2020-11-05 23:24] serodriz commented on #349
@dmolina101  ID= 19
INSERT INTO `tbl_menu` (`id`, `id_menu_padre`, `descripcion`, `url`, `orden`, `visible`, `C`, `R`, `U`, `D`, `id_estatus`) VALUES ('19', '17', 'Reporte de Clientes con Proyectos', '', '1', '0', '0', '1', '0', '0', '1');

[2020-11-07 00:03] sofguar opened #350 "Reporte de empleados"
Se requiere crear un reporte donde se muestre todos los empleados de Crowe los cuales deben ser filtrados por División, Cargos, Nombre y Estatus. Tambien el reporte debe mostrar los totales de cantidad de empleados.

[2020-11-07 00:05] sofguar opened #351 "Reportes clientes"
Se requiere diseñar un reporte donde se muestren todos los clientes asociados a la firma los cuales deben ser filtrados por empresa, código, nombre y estatus; el mismo debe de mostrar la cantidad de clientes.

[2020-11-08 20:46] serodriz commented on #349
Reporte de clientes con proyectos finalizado, Probar los filtros de búsqueda de clientes, y realizar la siguiente sentencia en la base de datos:
INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES ('19', '17', 'Reporte de Clientes con Proyectos', '', '1', '0', '0', '1', '0', '0', '1');

[2020-11-09 14:35] sofguar commented on #350
Este es el insert para este reporte:

`INSERT INTO `tbl_menu` (`id`, `id_menu_padre`, `descripcion`, `url`, `orden`, `visible`, `C`, `R`, `U`, `D`, `id_estatus`) VALUES (NULL, '17', 'Reporte de Empleados', '', '1', '0', '0', '1', '0', '0', '1');`

@alfiosaglimbeni @serodriz

[2020-11-09 16:01] sofguar commented on #344
Ya este requerimiento esta en ambiente de producción

[2020-11-09 16:01] #344 closed, assigned to nobody

[2020-11-09 16:03] sofguar commented on #322
Ya este requerimiento se culminó y esta en rama de producción

[2020-11-09 16:03] #322 closed, assigned to nobody

[2020-11-09 21:01] sofguar commented on #350
Requerimiento listo, que probar?

1) Que liste todos los empleados
2) Que totalice bien el número de empleados
3) Que los filtros de búsqueda funcionen
4) Que muestre lo que debe de mostrar al filtrar

[2020-11-10 11:04] sofguar commented on #351
El insert para este menú es:

`INSERT INTO `tbl_menu` (`id`, `id_menu_padre`, `descripcion`, `url`, `orden`, `visible`, `C`, `R`, `U`, `D`, `id_estatus`) VALUES (NULL, '17', 'Reporte Clientes', '', '1', '0', '0', '1', '0', '0', '1'); `

Luego acuerdense de asociarlo a los usuarios correspondientes.

@alfiosaglimbeni @serodriz

[2020-11-10 19:12] sofguar commented on #351
Requerimiento listo para las pruebas, que probar?

1) Que muestre todos los clientes con su información de Razón Social, RIF, estatus, Socio
2) Que los filtros funcionen y muestre la data según lo filtrado
3) Que genere el excel con la data que se muestra por pantalla

[2020-11-12 13:14] sofguar opened #356 "Reporte cantidad monetaria total facturada por clientes y proyectos (usd/bs/Euros)"
Se requiere diseñar un reporte donde se muestre el total facturado por cliente y por proyecto en sus distintas divisas.

[2020-11-12 13:29] sofguar opened #357 "Reporte cantidad de horas invertidas en un proyecto totales y por gerentes socios y directores"
Se requiere diseñar un reporte donde se muestren el total de horas invertidas en un proyecto por usuario; se debe poder filtrar por empleado, código empleado, proyecto, división y cargo

[2020-11-13 01:45] sofguar opened #358 "Eliminar Detalle de Facturación (Menú)"
En el módulo de clientes existe un menú llamado "Detalle de Facturación" el cual no se usa y hay que eliminarlo

[2020-11-15 14:54] sofguar commented on #358
Para que el menú "Detalle de Facturación" deje de estar activo se debe de ejecutar el siguiente query o consulta:

`UPDATE tbl_menu m SET m.id_estatus = '2' WHERE m.id = 7; `

Tambien para desvincularlo de los usuario se debe de ejecutar el siguiente query o consulta:

`DELETE FROM tbl_menu_usuario mu WHERE mu.id_menu = 7`

Por último se debe de borrar dicho menú

`DELETE FROM tbl_menu m WHERE m.i

[2020-11-15 15:30] sofguar commented on #358
Ya los archivos relacionados a este menú fueron eliminados satisfactoriamente, vistas, controladores, modelos, js y css.

Que revisar?

1) Que efectivamente nadie tenga acceso a dicho menú
2) Que el módulo de clientes funcione como debe, crear, editar cliente, etc

[2020-11-16 00:58] serodriz commented on #357
@dmolina101  ID= 22
INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES ('22', '17', 'Reporte de Horas Invertidas en Proyectos', '', '1', '0', '0', '1', '0', '0', '1');

[2020-11-18 13:33] alfiosaglimbeni commented on #349
sentencia ejecutada; la misma fué modificada quitandole el id 19 ya que el mismo se encuentra duplicado

[2020-11-19 16:33] sofguar commented on #307
Requerimiento listo, que probar?

**1)** Cuando un empleado registre las horas no cargables llegue un correo de notificación a sus supervisores vía correo.
**2)** Cuando un supervisor cambia el estatus de una hora no cargable de un empleado, el sistema debe notificarle al empleado qvia correo dicho cambio.

[2020-11-25 11:38] sofguar opened #362 "Agregar un campo donde se indique el Socio de Calidad o Socio B para un proyecto"
Se debe de especificar en los formularios tanto de creación como de edición de proyecto un campo donde se indique el socio adjunto al proyecto

[2020-11-26 00:22] alfiosaglimbeni commented on #307
Se realizó la prueba de forma satisfactoria
![imagen](https://user-images.githubusercontent.com/22016865/100293952-fdf96f00-2f4a-11eb-9488-73afa95cc8ab.png)

[2020-12-01 15:23] sofguar commented on #358
Ya la issues esta en rama de producción

[2020-12-01 15:23] #358 closed, assigned to nobody

[2020-12-01 15:29] sofguar commented on #351
Ya el issues esta en rama de producción

[2020-12-01 15:29] #351 closed, assigned to nobody

[2020-12-01 15:33] sofguar commented on #350
Ya el issues esta en producción

[2020-12-01 15:33] #350 closed, assigned to dmolina101, sergiofma

[2020-12-01 15:37] sofguar commented on #349
Issues ya esta en rama de producción

[2020-12-01 15:37] #349 closed, assigned to nobody

[2020-12-01 15:38] sofguar commented on #307
Ya el issues esta en producción

[2020-12-01 15:38] #307 closed, assigned to nobody

[2020-12-01 15:45] sofguar opened #368 "Evitar que le lleguen a los socios las notificaciones de las horas no cargables"
Actualmente si un empleado reporta sus horas No Cargables el sistema informa por correo a toda la cadena de mando, ahora ha que hacer una excepción a los socios; estos no debería de llegarle dicha notificación.

[2020-12-02 01:46] sofguar commented on #314
Hay cambios en la Base de Datos que hay que hacer, el primero consta de:

1) Crear una tabla llamada **tbl_proy_monto_adicional**, que tiene como campos:

- id Int auto increment
- id_proyecto Int
- monto decimal (25,2)
- fecha date
- id_estatus Int

2) Crear la clave foránea que a punta a la tabla **tbl_proyecto**:

- ALTER TABLE tbl_proy_monto_adicional ADD FOREIGN KEY (id_proyecto) REFERENCES t

[2020-12-05 00:48] alfiosaglimbeni commented on #314
El d{ia de hoy se realizaron los cambios en el ambiente de Calidad

[2020-12-05 14:22] sofguar commented on #362
Hay que hacer un cambio en la tabla **tbl_proyecto** y agregar un campo donde se almacene el id del socio de calidad con la siguiente sentencia SQL:

`ALTER TABLE tbl_proyecto ADD id_socio_calidad INT NOT NULL AFTER id_socio; `

[2020-12-05 20:22] sofguar commented on #362
Listo el requerimiento, solo se debe de probar a la hora de crear el proyecto si te deja asociar un socio de calidad y en el formulario de editar proyecto editar el socio de calidad.

[2020-12-06 17:14] serodriz commented on #357
probar

1.  Agregar horas adicionales a un proyecto y verificar que en el menu: Asi.Personal/Horas Cargables

![image](https://user-images.githubusercontent.com/59027265/101281182-1caa0200-37a4-11eb-9cc9-c38ab9381ee9.png)

![image](https://user-images.githubusercontent.com/59027265/101287138-c4cfc300-37c4-11eb-9cef-909ba9b76c85.png)

2. Revisar el reporte de **horas invertidas a proyectos** reflej

[2020-12-07 00:39] sofguar commented on #303
Listo, para probar puedes probar el siguiente escenario:

1) Edita el proyecto y cambiale el tipo de monda
2) Emitele al proyecto una factura
3) Trata de modificar el proyecto cambiandole el tipo de moneda

[2020-12-07 16:35] alfiosaglimbeni commented on #303
Se generó un proyecto denominado PRUEBA CAMBIO TIPO MONEDA por un total de horas de 500 contratado el  01/12/2020 asignado al cliente BANCO ACTIVO BANCO UNIVERSAL y el socio es SAMUEL ALEJANDRO MARQUEZ TOVAR, con el gerente OLIVER JOSE PAEZ RANGEL. se usó la divisa US$ y un monto de US$5.000,00.
Luego se ingreso una 1ra factura por US$ 2.500,00.
Se procedió a modificarl el proyecto cambiando la di

[2020-12-07 18:31] dmolina101 opened #378 "Notificaciones por correo de las Horas Cargables"
Se requiere implementar como en las **Horas No Cargables** las siguientes notificaciones por correo:

**1)** Cuando un usuario cargue horas cargables notificar a sus superiores excepto a los socios.
**2)** Cuando las horas cargables sean aprobadas por su superior indicarle por correo al analista que las emitió en primer lugar.

Te puedes guiar de como se realizó en las **Horas No Cargables** en lo

[2020-12-10 23:00] sofguar commented on #356
Requerimiento listo para ser probado:

![imagen](https://user-images.githubusercontent.com/55295214/101839910-95e58400-3b19-11eb-83c3-949f2facdd78.png)

@alfiosaglimbeni  recuerda revisar el id del menú en el issues [#357](https://github.com/sofguar/carent/issues/357), el cual debe tener el **22** en la tabla **tbl_menu** y este reporte el id **23** a través de la siguiente consulta SQL:

`INSERT

[2020-12-12 02:44] serodriz commented on #378
Que probar?

1) Cuando un empleado registre las horas cargables llegue un correo de notificación a sus supervisores vía correo.
2) Cuando un supervisor elimina una hora cargable de un empleado, el sistema debe notificarle al empleado vía correo dicha eliminación

[2021-01-05 14:56] sofguar commented on #303
Cambio probado y en rama de producción

[2021-01-05 14:56] #303 closed, assigned to nobody

[2021-01-05 14:57] sofguar commented on #314
Cambio probado y en rama de producción

[2021-01-05 14:57] #314 closed, assigned to nobody

[2021-01-05 14:57] sofguar commented on #356
Cambio probado y en rama de producción

[2021-01-05 14:57] #356 closed, assigned to alfiosaglimbeni, dmolina101

[2021-01-05 14:57] sofguar commented on #357
Cambio probado y en rama de producción

[2021-01-05 14:57] #357 closed, assigned to nobody

[2021-01-05 14:57] sofguar commented on #362
Cambio probado y en rama de producción

[2021-01-05 14:57] #362 closed, assigned to alfiosaglimbeni, dmolina101

[2021-01-05 14:57] sofguar commented on #368
Cambio probado y en rama de producción

[2021-01-05 14:57] #368 closed, assigned to nobody

[2021-01-05 14:58] sofguar commented on #378
Cambio probado y en rama de producción

[2021-01-05 14:58] #378 closed, assigned to nobody

[2021-01-05 15:12] sofguar commented on #276
Se cierra porque no se culmino la actividad por parte de los responsables

[2021-01-05 15:12] #276 closed, assigned to nobody

[2021-01-20 11:53] dmolina101 opened #385 "Crear un reporte que indique las horas totales invertidas por empleado"
Se requiere desarrollar un reporte que pueda mostrar por empleado las horas invertidas. El reporte debe de desglosar por empleado el detalle de las horas si fue en horas cargables o horas cargables y a su vez desglosar aun más que tipo de horas no cargables o cargables indico.

Filtros:

1) División
2) Periodo (Semanal, mensual)

[2021-01-23 17:28] dmolina101 commented on #385
Se debe de crear el menú con la siguiente consulta:

`INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte Horas Totales Invertidas por Empleado ', '', '1', '0', '0', '1', '0', '0', '1'); `

Luego se debe asignar el menú al usuario correspondiente en este caso el mio que es el administrador:

`INSERT INTO `bl_menu_usuario (

[2021-02-05 01:01] dmolina101 commented on #385
Que probar? que los filtros funcionen y muestre las horas cargables y no cargables correctas

[2021-02-09 19:44] dmolina101 commented on #385
Ya el cambio esta en rama de producción

[2021-02-09 19:44] #385 closed, assigned to alfiosaglimbeni, dmolina101, sergiofma

[2021-02-09 19:48] dmolina101 opened #389 "Reporte total horas cargables y no cargables por empleado"
@serodriz se requiere realizar un reporte que permita generar un listado de profesionales de la firma, y que de forma general, indique la cantidad total de horas cargables, la cantidad total de horas no cargables y la totalización de esas horas, sin la necesidad de detalles como lo son  los clientes, proyectos y conceptos de horas no cargables. Pudiendo aplicar los filtros que consideres necesario

[2021-02-22 03:36] serodriz commented on #389
Agregar el menu con la siguiente consulta:

**INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte total horas cargables y no cargables', '', '1', '0', '0', '1', '0', '0', '1');**

Luego asignar el menú al usuario administrador con la siguiente consulta o desde el mismo sistema

**INSERT INTO tbl_menu_usuario (id, id_usuari

[2021-02-24 02:41] serodriz commented on #389
Cosas a tener en cuenta del reporte:
Horas no cargables:

- Al momento de cargar horas no cargables lo haces de la siguiente manera Desde: 01-01-2021 hasta 23-02-2021 El tomara la hora del desde y contara la cantidad de horas que falten para que sean las 17:00 el resto de los días restante los ira tomando como 8 horas, sin contar los días sábado ni el domingo seguirá hasta llegar a la fecha y hora

[2021-03-09 16:16] dmolina101 opened #402 "Reporte/Notificación al correo de empleados que no han cargado horas"
Se requiere que llegue al correo de el personal seleccionado para ellos un reporte el cual indique las personas o empleados que no han cargado horas en X días.

[2021-03-10 01:07] dmolina101 commented on #402
Se debe de crear los siguientes objectos en la base de datos a través de las siguientes consultas:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-03-11 01:29] dmolina101 commented on #402
Después de hacer la unión de las ramas y crear todos los objetos en la Base de Datos correr el siguiente comando por consola posicionandote en la carpeta raíz del proyecto:

[code]

[2021-03-12 19:09] #389 closed, assigned to nobody

[2021-03-12 20:36] dmolina101 opened #411 "Agregar información al Reporte de Horas Invertidas en Proyectos"
@serodriz se requiere crear un reporte parecido al de  **Reporte de Horas Invertidas en Proyectos** quitandole las siguientes columnas:

**1)** Empleados
**2)** Montos

y Agregándole las columnas:

**1)** Total horas cargadas por todos los empleados por proyecto
**2)** Total Horas presupuestadas
**3)** Porcentaje entre las horas cargada y las horas presupuestadas, es decir de las horas cargadas cu

[2021-03-13 14:49] dmolina101 opened #417 "Crear objeto en la base de datos que lleve la Bitácora del sistema"
Se requiere crear una tabla la cual registre la bitácora del sistema así como un procedimiento almacenado que llene dicha tabla. Este procedimiento debe ser llamado en cualquier objecto que inserte, actualice o elimine.

[2021-03-13 15:08] dmolina101 opened #418 "Actualizar código fuente de la pantalla login"
Se requiere actualizar el código fuente de la pantalla login:

**1)** Implementar la librería bootstrap-vue para mejorar el rendimiento de renderizado de la pantalla
**2)** Separar en componentes el proceso del login del recuperar contraseña para facilitar su mantenimiento
**3)** Crear un procedimiento almacenado que registre el login del usuario
**4)** Crear un procedimiento almacenado que actual

[2021-03-16 05:01] serodriz commented on #411
Agregar el menu con la siguiente consulta:

**INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES ('26', '17', 'Reporte Total Horas Proyectos', '', '1', '0', '0', '1', '0', '0', '1');**

[2021-03-17 19:40] dmolina101 commented on #402
Ya el cambio esta en rama de producción

[2021-03-17 19:40] #402 closed, assigned to alfiosaglimbeni, dmolina101

[2021-03-17 19:41] dmolina101 commented on #411
Ya estos cambios están en rama de producción

[2021-03-17 19:41] #411 closed, assigned to nobody

[2021-03-18 04:50] dmolina101 commented on #418
Código migrado en su totalidad, falta los procedimientos almacenados, pero se puede ir probando si con los cambios de código al tratar de autenticarse y pedir recuperar la contraseña.

@alfiosaglimbeni

[2021-03-19 13:36] dmolina101 opened #427 "Agregar % del total facturado en los proyectos del reporte Total Facturado por Clientes y Proyectos"
Se requiere agregar una información adicional al reporte **Total Facturado por Clientes y Proyectos** la cual es el % total, es decir cuanto representa con respecto al total.

[2021-03-19 17:02] dmolina101 opened #428 "Reporte total horas asignadas por empleado en un rango de fecha indicado"
Se requiere crea un reporte donde:

1) Se muestre el nombre del empleado
2) Se muestre la división asociada al empleado
3) Cuantas horas ha cargado según el filtro de rango de fechas indicado por el usuario que esta consultando
4) Cual es el porcentaje de carga, es decir el total de horas asignadas entre las horas que ha cargado (Horas Cargables)

El reporte debe ser filtrado por, división, nombre

[2021-03-20 13:54] dmolina101 commented on #418
Se requiere hacer los siguientes ajustes a nivel de base de datos:

**1)** Cambiar el tipo de datos para la columna **valor** de la tabla **tbl_configuracion** pasando de **VARCHAR** a **TEXT**, ejecutando la siguiente sentencia SQL:

[code]

**2)** Actualizamos el registro de la tabla **tbl_configuracion** ejecutando el siguente SQL:

[code]

[code]

**3)** Creamos la siguiente vista con la sigui

[2021-03-25 19:59] dmolina101 opened #430 "Crear objetos necesarios para registrar cualquier tipo de mensaje precedentes de la Base de Datos"
Se requiere realizar una tabla en la base de datos que permita almacenar los mensajes de error, advertencia o cualquier evento dentro de la base de datos para poder entender mejor cuando un evento pase para solventarlo más rápidamente ya que dicho mensaje tendría que indicar el código del evento.

[2021-03-25 20:18] dmolina101 commented on #430
Se crearon las tablas **tbl_mensaje_bd**, **tbl_tipo_mensaje_bd** y **tbl_tipo_objeto_bd** así como las relaciones entre ellas y el procedimiento almacenado que llena la tabla **tbl_mensaje_bd** llamado **sp_mensaje_bd**.

Los scripts de dichos objetos están creado en el issues [#418 ](https://github.com/sofguar/carent/issues/418) ya que forma parte de un todo y a medida que se fue desarrollando e

[2021-03-25 20:59] dmolina101 opened #431 "Crear un reporte que indique por empleado que fué lo último que cargo en el sistema"
Se requiere crear un reporte que indique por empleado que fue lo último que cargo en el sistema ya sea una hora cargable o no cargable, es decir si lo ultimo que cargo Alfio fue una hora no cargable 2 semanas atrás eso es lo que mostrará el reporte en su fila como empleado. El reporte debe mostrar todos los empleados con sus divisiones, concepto de carga (Proyecto o concepto de hora no cargable),

[2021-03-25 21:55] dmolina101 commented on #417
Se crearon las siguientes tablas:

**1) tbl_accion_bitacora:**

[code]

**2) tbl_bitacora:**

[code]

**3)** Crear el procedimiento almacenado que registra en la tabla **tbl_bitacora**:

[code]

**4)** Realizar los siguientes insert en la tabla **tbl_accion_bitacora**:

[code]

[2021-03-28 21:55] dmolina101 commented on #418
En la realización de la tarea se adapto el proceso del login para detectar si el usuario necesita cambiar la contraseña a través de una fecha de vencimiento, si dicha fecha llega el sistema estará en la capacidad de detectarlo y avisarle a la pantalla de inicio para que lo pase directo al cambio de contraseña.

[2021-03-29 20:11] dmolina101 opened #432 "Actualización de asignación de personal"
Se requiere modificar la asignación del personal y de las horas. Ahorita eso está automático así la asignación al instante pero a veces generaba duplicados, así que se debe crear un botón para asignar hora y personal.

[2021-03-30 14:49] serodriz commented on #428
Agregar el menu con la siguiente consulta:

INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte total horas asignadas por empleado', '', '1', '0', '0', '1', '0', '0', '1');

Comprobar que el id sea el 27

[2021-03-30 15:49] dmolina101 opened #434 "Migrar el código fuente de la pantalla de inicio"
Se requiere migrar el código fuente al último estándar de bootstrap-vue

[2021-03-30 15:52] dmolina101 opened #435 "Redireccionar al usuario al formulario de cambio de contraseña si este necesita cambiarla"
Se requiere que el sistema redireccione a la pantalla de cambio de contraseña una vez este se haya logueado y el sistema haya determinado que necesita cambiar la contraseña.

Al principio no hay una regla para setear o indicar la nueva contraseña eso se realizará en un nuevo issues para desarrollarlo mejor como por ejemplo no colocar la misma que la anterior

[2021-03-30 16:38] dmolina101 commented on #435
Se modificó el **middleware**  UsuarioSession.php para que pudiera redireccionar a la pantalla de cambiar la contraseña en caso del que el sistema detecte que el usuario tiene que cambiar la contraseña.

[2021-03-30 16:38] dmolina101 commented on #434
Se implemento el framework de javascript Bootstrap-vue en la pantalla de inicio para actualizar el código fuente

[2021-03-30 17:49] serodriz commented on #432
Que probar:

![1](https://user-images.githubusercontent.com/59027265/113032847-555c5580-915e-11eb-8e9e-a85ae669882a.png)

![2](https://user-images.githubusercontent.com/59027265/113032862-5b523680-915e-11eb-8e44-3777716aef95.png)

![4](https://user-images.githubusercontent.com/59027265/113033026-8a68a800-915e-11eb-9a0a-fa59c87dec1a.png)

![5](https://user-images.githubusercontent.com/59027265/1130

[2021-03-30 19:52] dmolina101 opened #438 "Crear variables de sesión en el inicio y no en el login"
Anteriormente se creaban las variables de session **id_division** y **id_cargo** cuando el usuario se autenticaba conjuntamente con otras variables de session, ahora se requiere estas dos se creen cuando se arme el menú para cuando en el usuario exista un cambio con respecto a estas variable el usuario no tenga que salir y volver a entrar al sistema sino que cuanod refresque la pantalla estas vari

[2021-03-30 21:56] dmolina101 opened #439 "Actualizar el codigo fuente de la pantalla cambiar contraseña con nuevas funciones"
Se requiere actualizar el código fuente de la pantalla donde el usuario cambia la contraseña, aparte integrar y crearle sus objectos relaciones en la base de datos como los es el procedimiento almacenado y enlazarlo con la bitácora y los mensajes de la base de datos. También se debe de crear un modal que le indique al usuario que debe de cambiar la contraseña; dicho requerimiento surge ya que el s

[2021-03-31 00:39] #438 closed, assigned to alfiosaglimbeni, dmolina101

[2021-03-31 00:40] dmolina101 commented on #438
Se evidencio que es mejor mantener el crear las variables de sesion en el login

[2021-03-31 23:33] dmolina101 commented on #439
Ya el código fue migrado al ultimo estándar de **bootstrap-vue**.

Debemos insertar en la tabla **tbl_configuracion**:

[code]

El procedimiento almacenado para este proceso de cambio de contraseña es:

[code]

[2021-04-01 01:31] dmolina101 commented on #439
Al final también se creo una plantilla de correo para notificarle al usuario que ha cambiado su contraseña en caso de que no hubiese sido el

[2021-04-06 01:22] serodriz commented on #431
Agregar el menu con la siguiente consulta:

INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte ultima carga del empleado', '', '1', '0', '0', '1', '0', '0', '1');

Comprobar que el id sea el 28

[2021-04-10 00:43] serodriz commented on #428
ALTER TABLE `tbl_menu` CHANGE `descripcion` `descripcion` VARCHAR(70) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL;

UPDATE `tbl_menu` SET `descripcion` = 'Reporte total horas asignadas Vs cargadas por empleado a proyectos' WHERE `tbl_menu`.`id` = 27;

[2021-04-10 00:43] serodriz commented on #431
UPDATE `tbl_menu` SET `descripcion` = 'Reporte última carga a proyectos del empleado' WHERE `tbl_menu`.`id` = 28;

[2021-04-11 00:29] serodriz commented on #428
ALTER TABLE tbl_menu CHANGE descripcion descripcion VARCHAR(70) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL;
INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte total horas asignadas Vs cargadas por empleado a proyectos', '', '1', '0', '0', '1', '0', '0', '1');

[2021-04-11 00:29] serodriz commented on #431
INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES (NULL, '17', 'Reporte última carga a proyectos del empleado', '', '1', '0', '0', '1', '0', '0', '1');

[2021-04-28 00:38] serodriz opened #449 "Reporte de horas no cargables detallado"
Se requiere un reporte de las horas no cargables detalladamente por cada empleado

[2021-04-28 13:07] dmolina101 commented on #439
Ye esta en ambiente productivo

[2021-04-28 13:07] #439 closed, assigned to alfiosaglimbeni, dmolina101

[2021-04-28 13:07] dmolina101 commented on #417
Ye esta en ambiente productivo

[2021-04-28 13:07] #417 closed, assigned to alfiosaglimbeni, dmolina101, sergiofma

[2021-04-28 13:08] dmolina101 commented on #418
Ye esta en ambiente productivo

[2021-04-28 13:08] dmolina101 commented on #418
Ye esta en ambiente productivo

[2021-04-28 13:08] #418 closed, assigned to alfiosaglimbeni, dmolina101, sergiofma

[2021-04-28 13:09] dmolina101 commented on #427
Ye esta en ambiente productivo

[2021-04-28 13:09] #427 closed, assigned to nobody

[2021-04-28 13:09] dmolina101 commented on #428
Ye esta en ambiente productivo

[2021-04-28 13:09] #428 closed, assigned to nobody

[2021-04-28 13:10] dmolina101 commented on #430
Ye esta en ambiente productivo

[2021-04-28 13:10] #430 closed, assigned to alfiosaglimbeni, dmolina101, sergiofma

[2021-04-28 13:10] dmolina101 commented on #431
Ye esta en ambiente productivo

[2021-04-28 13:10] #431 closed, assigned to nobody

[2021-04-28 13:10] dmolina101 commented on #432
Ye esta en ambiente productivo

[2021-04-28 13:10] #432 closed, assigned to nobody

[2021-04-28 13:11] dmolina101 commented on #434
Ye esta en ambiente productivo

[2021-04-28 13:11] #434 closed, assigned to alfiosaglimbeni, dmolina101

[2021-04-28 13:11] dmolina101 commented on #435
Ye esta en ambiente productivo

[2021-04-28 13:11] #435 closed, assigned to alfiosaglimbeni, dmolina101

[2021-04-30 06:13] serodriz commented on #449
Agregar el menu con la siguiente consulta:

INSERT INTO `tbl_menu` (`id`, `id_menu_padre`, `descripcion`, `url`, `orden`, `visible`, `C`, `R`, `U`, `D`, `id_estatus`) VALUES ('29', '17', 'Reporte de Horas No Cargables', '', '1', '0', '0', '1', '0', '0', '1');

Comprobar que el id sea el 29

[2021-05-16 15:45] serodriz opened #456 "Filtrado de reportes"
Se requiere que los siguientes reportes:

- Horas invertidas a proyectos
- horas no cargables
- total horas asignadas vs horas cargadas
- carga de horas a proyectos

Se filtre automáticamente por división y proyectos.

[2021-05-19 19:50] serodriz commented on #456
Probar lo siguientes reportes:

**- Horas Invertidas a reporte:** Mostrara el detalle de los reportes a los usuarios: socios, gerentes del proyecto

**- Horas no Cargables:** Se muestran los usuarios de la división del usuario que inicio sesión

**- total horas asignadas vs horas cargadas:** Se muestran los usuarios de la división del usuario que inicio sesión

**- Total Horas Proyectos:** Mostrar

[2021-05-25 00:04] dmolina101 opened #458 "Crear responsive para el menú del sistema"
Actualmente el menú del sistema CARENT no funciona para dispositivos móviles, se requiere que este mismo pueda mostrarse en tabletas como en celulares

[2021-05-26 14:35] dmolina101 commented on #458
Listo para revisar, solo dede ejecutar por consola en la raiz del proyecto el comando `npm update`

[2021-06-02 19:12] serodriz commented on #456
En cuanto a los reportes de horas no cargables, se encontro que hubo en un perido una carge de horas superpuestas a otras, haciendo que a sacar esa informacion se encuentren incoherencias, Para solucionarlo se debe aplicar la siguiente sentencia.

_**Nota: esto eliminaras las horas que se sobreponen a otras del mismo usuario tener cuidado.**_

**CREATE TEMPORARY TABLE copia
SELECT
    hnc.id,

[2021-06-04 17:47] dmolina101 opened #465 "Objetos que se deben eliminar en la Base de Datos"
Se requiere hacer una limpieza y mantenimiento de la Base de Datos, por lo que se debe discutir y evaluar que objetos de la base de datos estan obsoletos y en desuso.

[2021-06-04 19:18] alfiosaglimbeni commented on #465
Cuando quieras nos reunimos el equipo Don David

[2021-06-09 11:25] #458 closed, assigned to dmolina101

[2021-06-09 13:59] #456 closed, assigned to nobody

[2021-06-09 14:00] #449 closed, assigned to nobody

[2021-06-09 18:28] dmolina101 opened #471 "Corrección del módulo de horas cargables"
Actualmente existe un hueco en el sistema el cual contempla que cuando un empleado renuncia las horas cargables previamente cargadas desaparecen del registro de dichas hora y se pueden volver a cargar o asignar a otro empleado y no deberia de ser así; las horas cargadas deben de verse reflejadas aunque el empleado cambie de estatus

[2021-06-10 03:30] serodriz commented on #471
cosas para revisar:

Entrar en la asignación de empleados a proyectos. Y verificar lo siguiente:

1. Si un empleado ya ha cargado horas no pueda ser eliminado
2. Si un empleado ya ha cargado horas y se le reducen las horas asignadas estas no pueden ser menor a la horas ya cargadas previamente.
3. Si un empleado se encuentra inactivo no aparezca en la lista de empleados ha asignar
   3.1.  Si el em

[2021-06-16 20:27] dmolina101 opened #475 "Actualización del formulario crear cliente"
Se requiere actualizar el formulario de crear un nuevo cliente con respecto a:

**1)** Migrar el codigo html a como lo plantea usando el componente bootstrap-vue; puedes guiarte del formulario que esta en la ruta `resources\views\facturacion\agregarIngresosGastos.blade.php`

**2)** Una vez te fijes en el código fuente de dicho formulario veras que hay complementos como el **login**, **alert** y **

[2021-06-23 21:25] dmolina101 opened #477 "Actualización del formulario Consultar Cliente"
Hay que actualizar el código fuente del formulario **"Consultar Cliente"** y las actualizacines serian las siguientes:

**1)** Migrar el codigo html a la notación **bootstrap-vue**; ya existen pantallas con dicha notación de las cuales te puedes guiar como:

- resources\views\facturacion\agregarIngresosGastos.blade.php
- resources\views\facturacion\ingresosGastos.blade.php
- resources\views\login.

[2021-07-06 01:13] dmolina101 commented on #477
Bueno como lo conversado por whatsapp te dejo como deberia de quedar en bootstrap-vue:

HTML:

[code]

JS

[code]

[2021-07-28 15:06] dmolina101 opened #479 "Actualización de Objetos en la Base de Datos"
Muy buenos días @alfiosaglimbeni, hay que hacer unos cambios en la base de Datos para que funcione bien el registro de los mensajes a nivel de base de datos, es decir, si ocurre un error se registre como deben de ser:

**1)** Verificar si existe el estatus "**tbl_mensaje_bd**" esta en la tabla **tbl_estatus**; como verificas? bueno entras en la tabla **tbl_estatus** y  buscas por el campo **tabla*

[2021-08-22 14:45] serodriz opened #482 "Crear un reporte que indique por empleado que fue lo última que cargo en horas no cargables en el sistema"
Se requiere crear un reporte que indique por empleado que fue lo último que cargo en horas no cargables en el sistema

Este reporte tiene que tener la opción de exportarlo a excel.

El reporte solo se aplica a los empleados activos.

[2021-08-22 17:12] serodriz commented on #482
Agregar el menú con la siguiente consulta:

INSERT INTO tbl_menu (id, id_menu_padre, descripcion, url, orden, visible, C, R, U, D, id_estatus) VALUES ('30', '17', 'Reporte de Ultima Carga de Horas No Cargables', '', '1', '0', '0', '1', '0', '0', '1');

Comprobar que el id sea el 30

[2021-08-22 17:27] serodriz commented on #475
Código fue migrado al ultimo estándar de bootstrap-vue.

y ejecutar el siguiente sql que contiene el procedimiento: sp_nuevo_cliente

DELIMITER $$
CREATE DEFINER=`root`@`127.0.0.1` PROCEDURE `sp_nuevo_cliente`(IN `p_id_usuario` INT, IN `p_id_usuario_socio` INT, IN `p_codigo_cliente` INT, IN `p_rif` VARCHAR(30), IN `p_razon_social` VARCHAR(60), IN `p_id_pais` INT, IN `p_direccion` TEXT, IN `p_telef

[2021-08-24 13:55] alfiosaglimbeni commented on #479
Se ejecutaron los pasos 1 y los 2 de este issue

[2021-08-24 13:58] alfiosaglimbeni commented on #475
Este SP se realizo en otro ISSUE

[2021-09-02 23:03] serodriz opened #490 "Editar el reporte de horas cargables vs horas no cargables"
Se requiere agregar nuevos campos al reporte:

- porcen_horas_cargables (% Horas a Clientes)
- % Cargabilidad NO Cliente
- % Carga total mensual (Cargables y no Cargables)

Y ajustes

[2021-09-03 10:57] #479 closed, assigned to alfiosaglimbeni

[2021-09-14 00:29] #490 closed, assigned to nobody

[2021-09-14 00:30] #482 closed, assigned to nobody

[2021-09-14 00:31] #475 closed, assigned to nobody

[2021-09-14 00:32] #471 closed, assigned to nobody

[2021-09-14 02:32] dmolina101 opened #503 "Clonar el servidor de Producción a un ambiente de Calidad"
Se requiere clonar el servidor de producción para el ambiente de calidad ya existente. El motivo es que se sospecha que existe un fallo en el sistema en dicho ambiente y no se sabe si es a nivel de data o código.

[2021-10-03 22:30] serodriz opened #507 "Ajuste a formulario de asignacion de horas"

[2021-10-28 03:36] serodriz opened #514 "Ajuste en el formulario de horas cargables y no cargables"
Se debe verificar y arreglar la validacion a la hoa de generar el reporte

[2021-11-11 02:32] dmolina101 opened #515 "El usuario ARTURO LORENZO MADRIZ VARGAS con el codigo de usuario 10473 no puede aprobar horas NO cargables"
El usuario ARTURO LORENZO MADRIZ VARGAS no puede o no le sale la opción de aprobar las horas NO cargables. El incidente fue reportado por @alfiosaglimbeni e indica que este empezó a suceder desde el fin de semana pasado, es decir antes si lo podia hacer pero desde ese fin de semana no le salia dicha opción.

[2021-11-11 02:35] dmolina101 commented on #515
El problema reside en que el cargo no tiene ningun cargo por supervisar en la tabla **tbl_cargo_supervisa**; para agregar nuevamente y que le salga la opción de aprobar deben de ejeuctar e siguiente query:

`INSERT INTO tbl_cargo_supervisa(id_cargo, id_cargo_supervisor) VALUES (1,17),(2,17),(3,17),(4,17),(5,17),(6,17),(7,17),(8,17),(9,17),(10,17),(11,17),(12,17),(13,17),(14,17),(15,17),(18,17),(19

[2021-11-12 18:18] dmolina101 commented on #515
Ya se solvento el problema y esta en el ambiente productivo

[2021-11-12 18:18] #515 closed, assigned to dmolina101

[2021-11-13 13:59] dmolina101 opened #518 "Agregar IVA y ISRL al módulo de facturación"
La modificación planteada por el equipo del Señor José  Machado es la siguiente, se requiere agregar al modulo actual, la capacidad de registrar las retenciones de los impuestos que realicen los clientes de la Firma.

Las retenciones que se deben registrar son DOS (02) impuestos a mencionar Impuesto al Valor Agregado (IVA) y las del Impuesto Sobre la Renta (ISLR)

Para el caso del IVA se deben tom

[2021-11-13 16:09] dmolina101 commented on #518
Hay que hacer un cambio en el archivo **config\database.php** en la linea 59 que dice:

`'strict' => true,`

Ahora pasa a

`'strict' => false,`

[2021-11-13 16:36] dmolina101 commented on #518
Se debe de agregar los campos en la **tabla tbl_factura_proyecto** los campos **id_iva**, **id_porcentaje_retencion_iva** y **id_deduccion_islr** y van despues del campo **monto_factura**. El tipo de datos de ambos campos es **INT** y pueden ser **NULL**

[2021-11-13 19:27] dmolina101 commented on #518
Creamos la tabla **tbl_iva**:

[code]

Creamos la tabla **tbl_porcentaje_retencion_iva** con el siguiente sql:

[code]

Creamos los registros iniciales

[code]

[2021-11-13 20:42] dmolina101 commented on #518
Debemos tambien crear la siguiente tabla llamada **tbl_deduccion_islr**:

[code]
Creamos los registros iniciales

[code]

[2021-11-13 20:45] dmolina101 commented on #518
Agregamos los siguientes estatus:

INSERT INTO tbl_estatus (tabla, valor, descripcion) VALUES ('tbl_porcentaje_retencion_iva', '1', 'activo'), ('tbl_porcentaje_retencion_iva', '2', 'inactivo'), ('tbl_deduccion_islr', '1', 'activo'), ('tbl_deduccion_islr', '2', 'inactivo'),('tbl_iva', '1', 'activo'), ('tbl_iva', '2', 'inactivo');

[2021-11-14 21:50] dmolina101 commented on #518
Se valido que solo el IVA y el ISLR sea aplicado a los conceptos de factura: Facturación, Gastos No Presupuestados y Otros Gastos en la modal de agregar nueva factura.

[2021-11-23 00:34] dmolina101 opened #519 "Nuevo reporte del CARENT"
Se debe crear un reporte que pueda ser visualizado por cada uno de los profesionales y empleados de la Firma en donde se vea la carga de sus horas a proyectos y "No Cargables".

Debe contener filtro de fecha de inicio, fecha de fin, un "ComboBox" donde pueda escoger las horas a visualizar a mencionar: A) Cargables, B) No Cargables y C) Ambas. El usuario podrá ver un reporte de máximo 1 mes calenda

[2021-11-23 00:35] dmolina101 opened #520 "Modificar reporte del CARENT"
Se debe modificar el reporte de Horas Cargables y "No Cargables".

La relación porcentual del reporte se debe hacer exclusivamente usando las Horas Cargables y las horas laborables mensuales por un lado y por el otro las Horas No Cargables y las horas laborables mensuales

[2021-11-24 14:13] alfiosaglimbeni commented on #518
OBSERVACIONES:
1) Todos los campos  descripcion definidos como varchar(10) fueron cambiados por varchar(15)
2) En la consulta: "INSERT INTO tbl_porcentaje_retencion_iva (id, descripción, valor, id_estatus) VALUES..." se cambio "descripción" por "descripcion" ya que fue definida de esa forma al crear la tabla.

[2021-12-04 01:54] dmolina101 opened #523 "Agregar la división de BUSINESS AND PROCESS CONSULTING al proyecto AUDITORIA PERIODO DE CINCO (5) AÑOS, COMPRENDIDOS ENTRE EL 01 DE ENERO DE 2015 AL 31 DE DICIEMBRE DE 2020"
Se requiere agregar una nueva división al proyecto AUDITORIA PERIODO DE CINCO (5) AÑOS, COMPRENDIDOS ENTRE EL 01 DE ENERO DE 2015 AL 31 DE DICIEMBRE DE 2020; la división es BUSINESS AND PROCESS CONSULTING con 150 horas ya que el proyecto tiene un proceso de facturación abierto y no se puede modificar dicho proyecto

[2021-12-04 01:59] dmolina101 commented on #523
Se debe de ejecutar el siguiente query:

`INSERT INTO tbl_proyecto_divisiones (id_proyecto, id_division,id_gerente,horas_contratadas) VALUE (163,6,85,150);`

[2021-12-04 16:34] alfiosaglimbeni commented on #518
Hice los cambios de este isssue y al realizar las pruebas funcionales me genraron un error que documento en este archivo anex
[incidencia en calidad.docx](https://github.com/geekstvzla/carent/files/7654235/incidencia.en.calidad.docx)
o

[2021-12-06 14:10] alfiosaglimbeni commented on #518
**Se realizo este cambio**

         _'strict' => true,

Ahora pasa a

         'strict' => false,_

**LISTO**

[2021-12-06 14:21] alfiosaglimbeni commented on #518
**el siguiente proceso**

_Se debe de agregar los campos en la tabla tbl_factura_proyecto los campos id_iva, id_porcentaje_retencion_iva y id_deducion_islr y van despues del campo monto_factura. El tipo de datos de ambos campos es INT y pueden ser NULL_

**Fue realizado satisfactoriamente**

[2021-12-06 14:36] alfiosaglimbeni commented on #518
**Al crear la tabla tbl_iva con la siguiente sentencia:**

_CREATE TABLE tbl_iva ( id int(11) NOT NULL, descripcion varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL, valor decimal(5,2) NOT NULL, id_estatus int(1) NOT NULL ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci_

**arrojo la siguiente advertencia:**

 _Warning: #1681 Integer display width is deprecated and will be removed

[2021-12-06 14:45] alfiosaglimbeni commented on #518
**Para todos los  "_COMMIT_;" de este ISSUE el MySQL indicaba error, los mismos no fueron incluidos en la ejecuciòn de las mismas.**

[2021-12-06 15:03] alfiosaglimbeni commented on #518
**Se ejecuto la setencia**

_INSERT INTO tbl_estatus (tabla, valor, descripcion) VALUES ('tbl_porcentaje_retencion_iva', '1', 'activo'), ('tbl_porcentaje_retencion_iva', '2', 'inactivo'), ('tbl_deduccion_islr', '1', 'activo'), ('tbl_deduccion_islr', '2', 'inactivo'),('tbl_iva', '1', 'activo'), ('tbl_iva', '2', 'inactivo');_

### Y se cargo satisfactoriamente

[2022-01-12 13:37] #523 closed, assigned to dmolina101

[2022-01-12 13:38] dmolina101 opened #527 "Aunque se deshabilite el concepto siempre sale en las horas no cargables"
En el formulario para cargar una hora No cargable en la parte de los conceptos, aunque estos esten en estatus deshabilitados siempre salen y se pueden escoger.

[2022-01-12 13:39] dmolina101 commented on #527
Ya se arregló, el problema estaba en que no se filtraba por estatus y dejaba mostrar todos incluyendo los inactivos

[2022-01-12 17:09] #527 closed, assigned to dmolina101

[2022-01-30 20:12] #503 closed, assigned to djcesar28

[2022-01-31 00:15] serodriz opened #536 "Modificacion en la ventana de horas cargables"
Se requiere que se visualizen los proyectos a los usuarios que se le asignen en dos divisiones

[2022-01-31 14:49] dmolina101 opened #537 "Colocar los campos de cobranza opcional"
Cuando se va a crear una nueva factura los campos de IVA y ISRL son obligatorios y no deben serlo porque no tienen esos datos a la hora de generar la factura, por eso se deben de colocar opcionales

[2022-01-31 14:51] #518 closed, assigned to dmolina101

[2022-02-01 13:41] #536 closed, assigned to nobody

[2022-03-15 00:40] serodriz opened #549 "Corrección en la asignación de horas"
Se requiere corregir el controller ya que esta enviando dos paarametros en vez de tres

[2022-03-18 21:35] #549 closed, assigned to alfiosaglimbeni

[2022-03-18 21:35] #537 closed, assigned to dmolina101

[2022-03-18 21:37] #514 closed, assigned to alfiosaglimbeni

[2022-03-18 21:38] #520 closed, assigned to nobody

[2022-03-18 21:44] #519 closed, assigned to nobody

[2022-03-18 21:45] #507 closed, assigned to nobody

[2022-03-28 17:07] dmolina101 opened #552 "Capital Humano requiere reporte de las vacaciones de los empleados"
Se requiere diseñar un reporte de las vacaciones de los empleados, este puede estar diseñado de la siguiente manera:

![WhatsApp Image 2022-03-23 at 9 42 22 AM](https://user-images.githubusercontent.com/24720946/161557789-5ee03f46-2bb7-4eee-a4b7-153b01c4f984.jpeg)

[2022-05-12 19:44] serodriz opened #555 "Corrección en el formulario de asignacion de horas"

[2022-05-28 22:44] dmolina101 opened #558 "Modificar la Base de Datos para cargar las Hora No Cargables"
Hay que cambiar la filosofía de como se cargan las horas No Cargables en el sistema, para ellos se tiene que regir según la propuesta de Jose Arturo.

[2022-05-30 15:01] serodriz commented on #558
[Horas cargadas.docx](https://github.com/geekstvzla/carent/files/8799292/Horas.cargadas.docx)

[2022-06-17 02:29] serodriz opened #562 "Ajustes en el formulario de asignacion de horas"

[2022-06-17 02:32] #562 closed, assigned to nobody

[2022-06-17 02:33] serodriz opened #563 "ajustes en el formulario de asignacion de horas"

[2022-10-03 20:28] #555 closed, assigned to alfiosaglimbeni

[2022-10-03 20:29] #563 closed, assigned to nobody

[2022-10-31 01:22] dmolina101 opened #569 "Módulo de usuario (Actualización)"
Se requiere actualizar el módulo de usuario y para ello se desglosa las siguientes actividades:

**1)** Unificar el módulo de usuario en una sola vista principal.
**2)** La bandeja de usuarios debe mostrar todos ls usuarios en principio.
**3)** La bandeja de usuarios debe tener un botón para crear un nuevo usuario y de alli al darle click es redireccionado al formulario para crearlo.
**4)** Cada f

[2022-10-31 01:55] dmolina101 commented on #569
Se creo una pantalla unica para resumir los dos submenus que existia en el módulo de usuario que eran "Crear Usuario" y "Consultar usuario".

![Sin título](https://user-images.githubusercontent.com/24720946/198914278-063c349b-ebce-45fe-b894-b665d767cddc.png)

Ahora sera un solo link llamado "Usuario" el cual mostrará una bandeja de entrada donde se listan todos los usuarios. Esta pantalla contará

[2022-11-10 00:01] dmolina101 commented on #569
Se creo un archivo de rutas llamado routes.js el cual gestiona las rutas dentro del sistema, el mism nos permitirá mejor el historia de navegación dentro del sistema; el archivo se encuentra en:

`resources\js\routes.js`

@alfiosaglimbeni

[2022-11-10 00:03] dmolina101 commented on #569
Se creo la modal que activa o muestrará el formulario para crear un nuevo usuario, falta incrustar dicho formulario